*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}
.all{
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    flex: 4.3;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

@media(max-width:655px){
    .stud{
        flex-direction: column;
    }
    .stud .stud-pic{
        width: 350px;
        padding: 10px;
    }
    .stud .stud-pic img{
        width: 100%;
    }
    .stud .stud-info2{
        margin-top: 0px;
    }
    .main1 .stud .stud-info2{
        margin-top: -19px;
    }
    .container .stud-upcoming table{
        max-width: 455px;  
    }
    .container .stud-upcoming p{
        width: 450px;
    }
    .main1 .student-profile-btn .btn-g1{
        flex-direction: column;
    }
    .main2 .student-profile-btn .btn-g1{
        flex-direction: column;
    }
    .container2 .login{
        width: 100%;
    }
    .all .sidebar{
        display: none;
        min-width: 180px;
    }
    .sidebar .sidebar-element button p{
        font-size: 16px;
    }
    .container2 .login{
        width: 370px;
    }
}

@media(max-width:750px){
    .main2 .student-profile-btn .btn-g1{
        flex-direction: column;
    }
}
@media(max-width:1010px){
    .main1 .student-profile-btn .btn-g1{
        flex-direction: column;
        font-size: 10px;
    }
    .main1 .student-profile-btn .btn-g1 button{
        font-size: 15px;
    }
    .main1 .student-profile-btn .btn-g2 button{
        font-size: 15px;
    }
}
@media(max-width:1010px){
    .main3 .student-profile-btn .btn-g1{
        flex-direction: column;
    }
}
