body{
    background-color: rgb(236, 236, 240);
    display: flex;
    align-items: center;
    justify-content: center;

 
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    height: 100hv;
    width: 100%;
    max-width: 500px;
    background-color: rgb(236, 236, 240);
}
.astu-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(236, 236, 240);
    margin: 100px 0px 10px 0px;
}
.astu-logo .a1{
    display: flex;
}
.astu-logo img{
    width: 92px;
}
.astu-logo .a1 span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 37px;
    color: rgb(71, 70, 70);
    margin-right: 7px;
}
.astu-logo .a1 .p11{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    color: rgb(78, 78, 78);
    font-weight: 300;
}
.login{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px rgb(218, 213, 213);
    border-radius: 3px;
    margin: 20px;
}
.login .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px 15px 20px;
}
.login .form p{
    font-size: 16px;
    font-weight: 550;
    color: rgb(155, 151, 151);
    margin:5px;
}
.inputbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 37px;
    background-color: white;
    padding: 0px 5px 0px 3px;
    border: 1px solid rgb(197, 225, 233);
    box-shadow: 0px 0px 1px rgb(197, 225, 233);
    margin: 10px 0px 7px 0px;
    border-radius: 3px;
}

.inputbox input{
    display: flex;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    font-size: 17px;
}
.inputbox input:focus{
    border: rgb(184, 184, 228);
}
::placeholder{
      margin: 10px;
      font-size: 15px;
}
.inputbox img{
    width: 20px;
    display: inline-block;
   
}
.login button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    margin: 0px 10px 10px 20px;
    padding: 9px 5px 9px 0px;
    font-size: 15px;
    border: none;
    background-color: rgb(58, 131, 240);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}
.login button img{
    width: 20px;
    margin-right: 10px;
    color: white;
}
.login .forgot{
    margin: 10px 10px 35px 20px;
}
.login a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(87, 186, 243);
    font-weight: 600;
}
